<div class="movie-tabs" *ngIf="movie">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p *ngIf="movie.production_companies?.length" class="movie-tabs-par">
        Productions:
        <span
          *ngFor="let production of movie.production_companies; let last = last"
          >{{ production.name }}<span *ngIf="!last">, </span></span
        >
      </p>

      <p *ngIf="movie.spoken_languages?.length" class="movie-tabs-par">
        Languages:
        <span *ngFor="let language of movie.spoken_languages; let last = last"
          >{{ language.name }}<span *ngIf="!last">, </span></span
        >
      </p>

      <div class="movie-overview" [innerHTML]="movie.overview"></div>
    </mat-tab>
    <mat-tab label="Images" *ngIf="movie?.images">
      <img
        class="movie-poster"
        *ngFor="let poster of movie.images.posters"
        src="{{ poster.image }}"
        alt="poster"
      />
    </mat-tab>
    <mat-tab label="Videos" *ngIf="movie?.videos?.length">
      <video
        class="movie-trailer"
        x-webkit-airplay="allow"
        controls
        *ngFor="let video of movie.videos"
      >
        <div class="movie-overview" [innerHTML]="video.name"></div>
        <source
          src="{{ 'https://www.youtube.com/watch?v=' + video.key }}"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
