<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchMovies(sort)"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-rating">Rating</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="movies">
  <ng-container *ngFor="let movie of movies">
    <div class="movie" (click)="goToMovieDetails(movie.id)">
      <div class="movie-thumb-container">
        <img
          *ngIf="movie.backdrop_path"
          src="{{ movie.backdrop_path }}"
          alt="thumbnail"
          class="movie-thumbnail"
        />
        <p *ngIf="!movie.backdrop_path">No image</p>
      </div>
      <div class="movie-description">
        <p class="movie-name">{{ movie.title }}</p>
        <p class="movie-name">{{ movie.overview }}</p>
        <p class="movie-name">{{ movie.runtime }}</p>
        <p class="movie-name">{{ movie.release_date }}</p>
      </div>
    </div>
  </ng-container>
</div>
