<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchMovies(sort)"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="released">Released</mat-option>
      <mat-option value="rating">Rating</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="movies">
  <ng-container *ngFor="let movie of movies">
    <div class="movie" (click)="goToMovieDetails(movie.id)">
      <div class="movie-thumb-container">
        <img
          *ngIf="movie.backdrop_path"
          [src]="getBackdropPath(movie)"
          alt="thumbnail"
          class="movie-thumbnail"
        />
        <p *ngIf="!movie.backdrop_path">No image</p>
      </div>
      <div class="movie-overview">
        <p class="movie-title">{{ movie.title ? movie.title : movie.name }}</p>
        <p
          class="movie-description"
          mat-raised-button
          matTooltip="{{ movie.overview }}"
          matTooltipClass="overview-tooltip"
        >
          {{ movie.overview }}
        </p>
        <div class="movie-info">
          <p class="movie-releasedate" *ngIf="movie.release_date">
            {{ movie.release_date }}
          </p>
          <p class="movie-language" *ngIf="movie.original_language">
            {{ movie.original_language.toUpperCase() }}
          </p>

          <p class="movie-voteaverage" *ngIf="movie.vote_average">
            {{ movie.vote_average }}
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
